.notFoundGame {
    text-align: center;
    padding-top: 100px;
    width: 400px;
    margin: 0 auto;
    span {
        font-size: 60px;
    }
    p {
        color: #fff;
        font-size: 36px;
        font-weight: 600;
    }
}
