.streamer_cards {
    margin-left: 10%;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 30px;
}
@media (max-width: 420px) {
    .streamer_cards {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        width: 100%;

        svg {
            display: flex;
            flex-direction: column;
        }
    }
}
